@{
    ViewData["Title"] = "Landscapes";
}
<h1>@ViewData["Title"]</h1>

<div class="container" id="ladscapeImageGrid">
    <div class="row" id="rowOne">
        <div class="col">
            <img class="img-fluid" src="~/landscape_pics/colorfulLeaves.jpg" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/landscape_pics/FMBridge.jpg" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/landscape_pics/forestHillside.jpg" alt="">
        </div>
    </div>
    <div class="row" id="rowTwo">
        <div class="col">
            <img class="d-block w-100" src="~/landscape_pics/gazeeboNight1.jpg" alt="">
        </div>
        <div class="col">
            <img class="d-block w-100" src="~/landscape_pics/gazeeboNight2.jpg" alt="">
        </div>
        <div class="col">
            <img class="d-block w-100" src="~/landscape_pics/nightSky.jpg" alt="">
        </div>
    </div>
    <div class="row" id="rowThree">
        <div class="col">
            <img class="d-block w-100" src="~/landscape_pics/stormWithRainbow.jpg" alt="">
        </div>
        <div class="col">
            <img class="d-block w-100" src="~/landscape_pics/sunsetOverWater.jpg" alt="">
        </div>
        <div class="col">
            <img class="d-block w-100" src="~/landscape_pics/SurfAndSky.jpg" alt="">
        </div>
    </div>
</div>