@{
    ViewData["Title"] = "Landscapes";
}
<h1>@ViewData["Title"]</h1>

<p>Home for landscape photos</p>

<div class="container" id="ladscapeImageGrid">
    <div class="row" id="rowOne">
        <div class="col">
            First Image Row One
        </div>
        <div class="col">
            Second Image Row One
        </div>
        <div class="col">
            Third Image Row One
        </div>
    </div>
    <div class="row" id="rowTwo">
        <div class="col">
            First Image Row Two
        </div>
        <div class="col">
            Second Image Row Two
        </div>
        <div class="col">
            Third Image Row Two
        </div>
    </div>
    <div class="row" id="rowThree">
        <div class="col">
            First Image Row Three
        </div>
        <div class="col">
            Second Image Row Three
        </div>
        <div class="col">
            Third Image Row Three
        </div>
    </div>
</div>