@{
    ViewData["Title"] = "Real Estate";
}
<h1>@ViewData["Title"]</h1>

<p>Home for Real Estate photos</p>
<div class="container" id="realEstateImageGrid">
    <div class="row" id="rowOne">
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/bedroom.jpg" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/bikeShop.jpg" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/diningRoom.jpg" alt="">
        </div>
    </div>
    <div class="row" id="rowTwo">
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/livingroom1.jpg" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/linvingroom2.jpg" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/poolHouse.jpg" alt="">
        </div>
    </div>
    <div class="row" id="rowThree">
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/rusticStreet.jpg" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/slatersDiningRoom.jpg" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/real_estate_pics/treeLinedStree.jpg" alt="">
        </div>
    </div>
</div>