@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="gallery">
        <img src="~/sample_pics/sample1.jpg" height="480" width="720"/>
    </div>
</div>
