

@{
    ViewData["Title"] = "Portfolio";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col" id="landscapeImageLink">
            <a asp-controller="Album" asp-action="Landscapes">
                <label>Landscapes</label>
                <img class="d-block w-100" src="~/sample_pics/sample3.jpg" alt="Landscape Link">
            </a>
        </div>
        <div class="col" id="realEstateImageLink">
            <a asp-controller="Album" asp-action="RealEstate">
                <label>Real Estate</label>
                <img class="d-block w-100" src="~/sample_pics/sample2.jpg" alt="Real Estate Link">
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col" id="portraitImageLink">
            <a asp-controller="Album" asp-action="Portraits">
                <label>Portraits</label>
                <img class="d-block w-100" src="~/sample_pics/sample1.jpg" alt="Portrait Link">
            </a>
        </div>
    </div>
</div>