@*TODO: Create Dropdown on Index page for different categories of photos.*@
@*TODO: If needed add in razor page for each category of photos*@


@{
    ViewData["Title"] = "Portfolio";
}
<h1>@ViewData["Title"]</h1>

<p>Pictures from Flickr or provided by RJ.</p>